.TypeFilters-container {
    margin: auto;
    text-align: center;
    width: 80%;
}

.TypeFilters-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10rem;
}

.TypeFilter-pokeBtn {
    background: #fff;
    border-top: 3px solid rgb(231, 56, 39);
    height: 3rem;
    margin: 1rem;
    outline: none;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    width: 10rem;
}
